<!DOCTYPE HTML>
{% load static %}
{% load mathfilters %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}style.css" /> -->
<link rel="stylesheet" href="{% static "css/ol.css" %}"/>
<style>
  /* Colors */
  .six {
    background-color: {{ colors.0 }};
  }
  .seven {
    background-color: {{ colors.1 }};
  }
  .twelve {
    background-color: {{ colors.2 }};
  }
  .eighteen {
    background-color: {{ colors.3 }};
  }
  .thirty-six {
    background-color: {{ colors.4 }};
  }
  .fifty-one-b {
    background-color: {{ colors.5 }};
  }
  .fifty-two {
    background-color: {{ colors.6 }};
  }
  .sixty-five {
    background-color: {{ colors.7 }};
  }
  .sixty-seven {
    background-color: {{ colors.8 }};
  }
  .seventy-nine {
    background-color: {{ colors.9 }};
  }
  .eighty-eight {
    background-color: {{ colors.10 }};
  }
  .f {
    background-color: {{ colors.11 }};
  }

  .dir {
    display: none;
  }

  .map {
    /*margin: auto;*/
    height: 800px;
    width: 100%;
  }
</style>
<h1>Are ACTransit Buses on Schedule?</h1>
<h3>Choose a bus line and then its direction.</h3>
<!-- <button onclick="hide()">Click me</button> -->
<div id="lines">
  <button onclick="toggleDir('6')" class="six">6</button>
  <button onclick="toggleDir('7')" class="seven">7</button>
  <button onclick="toggleDir('12')" class="twelve">12</button>
  <button onclick="toggleDir('18')" class="eighteen">18</button>
  <button onclick="toggleDir('36')" class="thirty-six">36</button>
  <button onclick="toggleDir('51B')" class="fifty-one-b">51B</button>
  <button onclick="toggleDir('52')" class="fifty-two">52</button>
  <button onclick="toggleDir('65')" class="sixty-five">65</button>
  <button onclick="toggleDir('67')" class="sixty-seven">67</button>
  <button onclick="toggleDir('79')" class="seventy-nine">79</button>
  <button onclick="toggleDir('88')" class="eighty-eight">88</button>
  <button onclick="toggleDir('F')" class="f">F</button>
</div>
<div class="dir" id="direction-6">
  <button onclick="toggleRoute(this, 0)">To Downtown Berkeley</button>
  <button onclick="toggleRoute(this, 1)">To Downtown Oakland</button>
</div>
<div class="dir" id="direction-7">
  <button onclick="toggleRoute(this, 2)">To Downtown Berkeley</button>
  <button onclick="toggleRoute(this, 3)">To El Cerrito Del Norte BART</button>
</div>
<div class="dir" id="direction-12">
  <button onclick="toggleRoute(this, 4)">To Oakland Amtrak at Jack London Square</button>
  <button onclick="toggleRoute(this, 5)">To West Berkeley</button>
</div>
<div class="dir" id="direction-18">
  <button onclick="toggleRoute(this, 6)">To Lake Merritt BART</button>
  <button onclick="toggleRoute(this, 7)">To University Village, Albany</button>
</div>
<div class="dir" id="direction-36">
  <button onclick="toggleRoute(this, 8)">To U.C. Campus</button>
  <button onclick="toggleRoute(this, 9)">To West Oakland BART</button>
</div>
<div class="dir" id="direction-51B">
  <button onclick="toggleRoute(this, 10)">To Berkeley Amtrak</button>
  <button onclick="toggleRoute(this, 11)">To Rockridge BART</button>
</div>
<div class="dir" id="direction-52">
  <button onclick="toggleRoute(this, 12)">To U.C. Campus</button>
  <button onclick="toggleRoute(this, 13)">To University Village, Albany</button>
</div>
<div class="dir" id="direction-65">
  <button onclick="toggleRoute(this, 14)">To Downtown Berkeley</button>
  <button onclick="toggleRoute(this, 15)">To Lawrence Hall of Science</button>
</div>
<div class="dir" id="direction-67">
  <button onclick="toggleRoute(this, 16)">To Downtown Berkeley</button>
  <button onclick="toggleRoute(this, 17)">To Tilden Park</button>
</div>
<div class="dir" id="direction-79">
  <button onclick="toggleRoute(this, 18)">To El Cerrito Plaza BART</button>
  <button onclick="toggleRoute(this, 19)">To Rockridge BART</button>
</div>
<div class="dir" id="direction-88">
  <button onclick="toggleRoute(this, 20)">To Downtown Berkeley</button>
  <button onclick="toggleRoute(this, 21)">To Lake Merritt BART</button>
</div>
<div class="dir" id="direction-F">
  <button onclick="toggleRoute(this, 22)">To San Francisco</button>
  <button onclick="toggleRoute(this, 23)">To U.C. Campus</button>
</div>

<!-- store gpx file names into hidden elements for JS to pick up later -->
<!-- <div id="filenames" style="display: none">
  {% for gpx in gpx_list %}
  <p>{{ gpx }}</p>
  {% endfor %}
</div> -->
<script src="{% static "js/ol.js" %}" type="text/javascript"></script>
<script src="{% static "js/d3.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery-3.2.1.js" %}" type="text/javascript"></script>

<div id="map" class="map"></div>
<div id="info">&nbsp;</div>
<div id="lines"></div>
<div id="stops"></div>

<script type="text/javascript">

  /* UTILITY FUNCTIONS */
  function toggleDir(line) {
    for (var i = 0; i < vectorLayers.length; i++) {
      vectorLayers[i].setVisible(false);
    }
    var dirs = document.getElementsByClassName('dir');
    for (var i = 0; i < dirs.length; i++) {
      dirs[i].setAttribute("style", "display: none");
    }
    var name = "direction-" + line;
    bus = line;
    document.getElementById(name).setAttribute("style", "display: inline-block");
  };

  function toggleRoute(dom, index) {
    for (var i = 0; i < vectorLayers.length; i++) {
      vectorLayers[i].setVisible(false);
    }
    vectorLayers[index].setVisible(true);
    color = Math.floor(index / 2);
    dir = dom.textContent;
  };

  function convertHex(hex, opacity) {
    hex = hex.replace('#','');
    r = parseInt(hex.substring(0,2), 16);
    g = parseInt(hex.substring(2,4), 16);
    b = parseInt(hex.substring(4,6), 16);
    result = [r, g, b, opacity/100];
    return result;
  };

  function convertTime(seconds) {
    m = Math.floor(Math.floor(seconds) / 60);
    s = Math.floor(seconds) % 60;
    return ("0" + m).slice(-2) + ":" + ("0" + s).slice(-2);
  };

  function activateFeature(pixel, onEvent) {
    var features = [];
    map.forEachFeatureAtPixel(pixel, function(feature) {
      features.push(feature);
    });
    /* Clear all active features on click. Clear all features that
       are not activated by a previous click on mouseover. */
    if (onEvent === "click") {
      if (active != null) {
        var activeType = active.getGeometry().getType();
        active.setStyle(style[activeType + color]);
        active = null;
      }
    } else {
      if (hover != null && hover !== active) {
        var hoverType = hover.getGeometry().getType();
        hover.setStyle(style[hoverType + color]);
        hover = null;
      }
    }
    /* Highlight top feature */
    if (features.length > 0) {
      map.getViewport().style.cursor = 'pointer';
      var info = [];
      for (var i = 0; i < features.length; i++) {
        info.push(features[i].get('desc'));
      }
      var type = features[0].getGeometry().getType();
      features[0].setStyle(style[type + color + "::active"]);
      if (onEvent === "click") {
        active = features[0];
        var stats = fetchInfo(active.get('desc'), false);
      } else {
        hover = features[0];
      }
    } else {
      map.getViewport().style.cursor = '';
    }
  };

  function fetchInfo(id, isGeneral) {
    var key = id;
    if (!id.includes("_") && !isGeneral) {
      key = id + "_" + bus + "_" + dir;
    }
    var summary = [];
    var mean = data[key]["mean"];
    summary.push(convertTime(mean));
    var median = data[key]["median"];
    summary.push(convertTime(median));
    var std = data[key]["std"];
    summary.push(convertTime(std));
    var late = data[key]["late"];
    summary.push(late + "% at least 5min late");
    var vlate = data[key]["vlate"];
    summary.push(vlate + "% at least 10min late");
    return summary;
    // document.getElementById('info').innerHTML = '&nbsp;';
  };

  /* GLOBAL VARIABLES TO KEEP TRACK OF */
  var data; /* fetch json asynchronously */
  $.getJSON("{% static 'js/data.json' %}", function(result){
    data = result;
  });
  var bus = ""; /* current bus line */
  var dir = ""; /* current bus direction */
  var color = 0; /* color of current line */
  var active = null; /* active feature */
  var hover = null; /* hover feature */
  var vectorLayers = [];



  // function transform(extent) {
  //   return ol.proj.transformExtent(extent, 'EPSG:4326', 'EPSG:3857');
  // }

  var raster = new ol.layer.Tile({
    source: new ol.source.OSM(),
    // extent: transform([-122.271856, 37.860317, -122.247710, 37.877256])
  });

  /* MAP STYLES */
  var style = {
    {% for color in colors %}
    'MultiLineString{{ forloop.counter0 }}': new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: convertHex('{{ color }}', 60),
        width: 10
      })
    }),
    'MultiLineString{{ forloop.counter0 }}::active': new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: '{{ color }}',
        width: 15
      })
    }),
    'Point{{ forloop.counter0 }}': new ol.style.Style({
      image: new ol.style.Circle({
        fill: new ol.style.Fill({
          color: convertHex('{{ color }}', 60)
        }),
        radius: 12,
        stroke: new ol.style.Stroke({
          color: '#111',
          width: 1
        })
      })
    }),
    'Point{{ forloop.counter0 }}::active': new ol.style.Style({
      image: new ol.style.Circle({
        fill: new ol.style.Fill({
          color: '{{ color }}'
        }),
        radius: 12,
        stroke: new ol.style.Stroke({
          color: '#111',
          width: 3
        })
      })
    }),
    {% endfor %}
  };

  {% for name in gpx_list %}
  var vector = new ol.layer.Vector({
    source: new ol.source.Vector({
      url: "{% static 'gpx/' %}{{ name }}.gpx",
      format: new ol.format.GPX()
    }),
    style: function(feature) {
      var type = feature.getGeometry().getType();
      return style[type + '{{ forloop.counter0|intdiv:2 }}'];
    },
    opacity: 1,
    visible: false
  });
  vectorLayers.push(vector);
  {% endfor %}


  var map = new ol.Map({
    target: 'map',
    interactions: ol.interaction.defaults({mouseWheelZoom:false}),
    // interactions: [],
    layers: Array(raster).concat(vectorLayers),
    view: new ol.View({
      // 37.868791, -122.256632
      center: ol.proj.fromLonLat([-122.2582, 37.8688]),
      maxZoom: 17,
      minZoom: 15,
      zoom: 16,
      // zoomControl: false,
    })
  });

  map.on('pointermove', function(evt) {
    activateFeature(evt.pixel, 'pointermove');
  });

  map.on('click', function(evt) {
    activateFeature(evt.pixel, 'click');
  });


</script>
